

.signIn{margin-bottom: 50%;
background-color: blue;
cursor: pointer;
margin-top: 30%;

text-transform: capitalize;
height: 70px;
font-size: 30px;}

.signInn{height: 100%;
width: 90%;
border: 2px solid pink;
display: flex;
flex-direction: row;
justify-content: center;
background-color: grey;
}

.eml{cursor:pointer;
align-items: center;
margin-top: 40%;
}

.emls{cursor:pointer;
    align-items: center;
    margin-top: 50%;
    }
